
body {text-decoration: none !important;
	text-shadow: none;
	background-color: #333333 !important;

}

/* Cambia el color de los enlaces no visitados a azul */
a:link {
    color: #FFF;
}

/* Cambia el color de los enlaces visitados a púrpura */
a:visited {
    color: #FFF;
}

/* Cambia el color de los enlaces al pasar el mouse por encima a verde */
a:hover {
    color: #FFF;
}

/* Cambia el color de los enlaces cuando se hacen clic a naranja */
a:active {
    color: #FFF;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
}


*{text-shadow: none; text-decoration: none !important; box-shadow: none} 
.container-fluid { padding: 1em 1em; } 
.navbar { border-bottom: 3px solid red; font-size: 12px !important; margin-bottom: 0px; line-height: 2rem !important ;letter-spacing: 4px; padding-bottom: 0; font-family: Montserrat, sans-serif;}
.bg3{background-color:#333333;}

.ekko-lightbox{display:-ms-flexbox!important;display:flex!important;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;padding-right:0!important}.ekko-lightbox-container{position:relative}.ekko-lightbox-container>div.ekko-lightbox-item{position:absolute;top:0;left:0;bottom:0;right:0;width:100%}.ekko-lightbox iframe{width:100%;height:100%}.ekko-lightbox-nav-overlay{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;display:-ms-flexbox;display:flex}.ekko-lightbox-nav-overlay a{-ms-flex:1;flex:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;opacity:0;transition:opacity .5s;color:#fff;font-size:40px;z-index:1}.ekko-lightbox-nav-overlay a>*{-ms-flex-positive:1;flex-grow:0.6}.ekko-lightbox-nav-overlay a>:focus{outline:none}.ekko-lightbox-nav-overlay a span{padding:0 30px}.ekko-lightbox-nav-overlay a:last-child span{text-align:right}.ekko-lightbox-nav-overlay a:hover{text-decoration:none}.ekko-lightbox-nav-overlay a:focus{outline:none}.ekko-lightbox-nav-overlay a.disabled{cursor:default;visibility:hidden}.ekko-lightbox a:hover{opacity:1;text-decoration:none}.ekko-lightbox .modal-dialog{display:none}.ekko-lightbox .modal-footer{text-align:left}.ekko-lightbox-loader{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.ekko-lightbox-loader>div{width:40px;height:40px;position:relative;text-align:center}.ekko-lightbox-loader>div>div{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;animation:a 2s infinite ease-in-out}.ekko-lightbox-loader>div>div:last-child{animation-delay:-1s}.modal-dialog .ekko-lightbox-loader>div>div{background-color:#333}@keyframes a{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}


a {
	text-decoration: none !important;
}


body {
    color: #fff !important;
    line-height: 1.6;
    font-family: Montserrat, sans-serif !important;
    padding: 0 1.5em;
    opacity: 0;
    transition: opacity 0.5s ease;

}
body.loaded {
  opacity: 1;
}

#hero {
  width: 100%;
  position: relative;
  margin-top: 50px
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  text-align: center;
}


#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero h2:hover {
  color: #ff0000;
  
}

#hero .icon-box {
  padding: 5px 5px;
  transition: ease-in-out 0.3s;
  height: 100%;
  text-align: center;
  
}

#hero .icon-box i {
  font-size: 26px;
  line-height: 1;
  color: #efefef;

}

#hero .icon-box i:hover {
  color: #ff0000;

}

#hero .icon-box h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  line-height: 22px;
}

#hero .icon-box h2 {
  color: #fff;
  transition: ease-in-out 0.3s;
}

#hero .icon-box h2:hover {
  color: #efefef;
}

#hero .icon-box:hover {
  border-bottom: 1px solid red;
}


.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}


h6 {
	text-decoration: none !important;
}




h3 .pie-pagina .grupo-1 {
	width: 100%;
	background-color: #333;
	 width: 100%;
 max-width: 1200px;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 50px;
 padding: 45px 0px;

}



footer {
	border-top: 3px solid red;
}


.pie-pagina .grupo-1 {
	width: 100%;
	background-color: #333;

 margin: auto;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 50px;
 padding: 45px 0px;

}


.pie-pagina .grupo-1 .box figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
	color: #FFF !important;
	font-size: 14px !important; 
	letter-spacing: 2px; 
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;

}

.pie-pagina .grupo-1 .box p {
	color: #efefef;
	margin-bottom: 10px;
	font-size: 12px !important; 
	letter-spacing: 2px; 
	font-family: Montserrat, sans-serif;

}


.red-social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.red-social a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  line-height: 45px;
  margin-right: 10px;
  background-color: #282828;
  text-align: center;
  transition: all 300ms ease;
  width: 45px;
  height: 45px;
  border-radius: 20px;

}

.red-social a:hover {
  transform: scale(1.5);
  color: #ff0000;
}

.pie-pagina .grupo-2 {
	background-color: #282828;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	letter-spacing: 2px; 
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;

}

.fin-mediapag {
	width: 100%;
	border-bottom: 2px solid grey;

}

.fin-enterpag {
	width: 100%;
	border-bottom: 2px solid grey;

}

* {
    box-sizing: border-box;
}





.floating-button {
	display: none; /* Oculta el botón por defecto */
	position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px !important; 
	line-height: 2rem !important ;
	letter-spacing: 4px; 
	font-family: Montserrat, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.floating-button:hover {
    background-color: #333;
    color: #fff;
    
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  margin-top: 50px
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  text-align: center;
}


#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero h2:hover {
  color: #ff0000;
  
}

#hero .icon-box {
  padding: 5px 5px;
  transition: ease-in-out 0.3s;
  height: 100%;
  text-align: center;
  
}

#hero .icon-box i {
  font-size: 26px;
  line-height: 1;
  color: #efefef;

}

#hero .icon-box i:hover {
  color: #ff0000;

}

#hero .icon-box h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  line-height: 26px;
}

#hero .icon-box h2 {
  color: #fff;
  transition: ease-in-out 0.3s;
}

#hero .icon-box h2:hover {
  color: #efefef;
}

#hero .icon-box:hover {
  border-bottom: 1px solid red;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 16px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 16px;
    line-height: 24px;
  }
}




/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.about .content ul {
  list-style: none;
  padding: 0;
}



.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about .content ul li a:hover {
  color: #ff0000;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #FF0000;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/* Muestra el botón solo en pantallas menores a 767px */
@media (max-width: 767px) {
	.floating-button {
    display: block;
            }
        }

        /* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }


}


@media screen and (max-width: 800px) {

	.pie-pagina .grupo-1 {
	width: 90%;
	background-color: #333;
	width: 100%;
 	grid-template-columns: repeat(1, 1fr);
 	grid-gap: 30px;
 	padding: 35px 0px;
 	margin-left: 10px;
}

	.banmov {
		width: 50%; 
		float: left;
}



		}